.navbar {
  background: rgba(40, 40, 43, 0.7) !important; /* Semi-transparent background */
  color: white !important;
  transition: background 0.3s ease; /* Adjust transition to background change */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* Ensure navbar is on top */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.navbar:hover {
  background: rgba(40, 40, 43, 0.9) !important; /* Darker on hover */
}

.navbar .navbar-brand {
  color: white !important;
  font-weight: bold !important;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar .navbar-brand:hover {
  transform: scale(1.05);
  color: #f8f9fa !important;
}

.navbar .nav-link {
  color: white !important;
  font-weight: bold !important;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.navbar .nav-link:hover {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.navbar-toggler-icon {
  background-color: white !important;
  transition: background-color 0.3s ease;
}

.navbar-toggler:hover .navbar-toggler-icon {
  background-color: #007bff !important;
}

.nav-link.btn {
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav-link.btn:hover {
  background-color: #0056b3;
}
